.about__wrapper {
  width: $desktop-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 100px;
  padding: 60px 0 100px 0;

  @include vp-1279 {
    width: auto;
    gap: 60px;
    margin: 0 $desktop-margin-asade;
  }

  @include vp-1023 {
    padding: 35px 0 80px 0;
    margin: 0 50px 0 46px;
    gap: 28px;
  }

  @include vp-767 {
    padding: 25px 0 80px 0;
    margin: 0 $mobile-margin-asade;
    display: block;
  }

  img {
    display: block;
    width: 150px;
    height: 320px;

    @include vp-1023 {
      margin-top: 5px;
    }

    @include vp-767 {
      display: none;
    }
  }
}

.about__information-wrapper {
  h2 {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $color-extra-dark;
    margin: 0;

    @include vp-767 {
      font-size: 28px;
      line-height: 140%;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-extra-dark;
    margin: 0;
    margin-top: 12px;

    @include vp-767 {
      font-size: 14px;
      line-height: 134%;
    }
  }

  button {
    margin-top: 18px;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: $color-light-blue;
    border: 1px solid $color-light-blue;
    min-width: 180px;
    padding: 12px;

    @include vp-1023 {
      margin-top: -6px;
    }

    @include vp-767 {
      min-width: 160px;
      padding: 10px;
      margin-top: 12px;
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}

.about__optional-text--hidden,
.about__optional-text-mobile--hidden {
  display: none;
}
