.advantages {
  width: $desktop-content;
  margin: 0 auto;
  padding: 120px 0 60px 0;

  @include vp-1279 {
    width: auto;
    margin: 0 $desktop-margin-asade;
  }

  @include vp-1023 {
    padding: 80px 0 40px 0;
    margin: 0 $tablet-margin-asade;
  }

  @include vp-767 {
    padding: 50px 0 25px 0;
    margin: 0 $mobile-margin-asade;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 595px);
  gap: 30px;

  @include vp-1279 {
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  }

  @include vp-1023 {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  @include vp-767 {
    grid-template-columns: minmax(270px, 1fr);
  }
}

.advantages__item {
  padding: 40px 40px;
  border: 1px solid $color-light-grey-2;
  border-left: 5px solid $color-light-blue;
  position: relative;
  box-sizing: border-box;
  min-height: 300px;
  cursor: pointer;

  &:hover {
    border-color: $color-light-blue;
    background-color: $color-light-blue;

    h3,
    p {
      color: $color-light-font;
    }

    svg {
      fill: $color-light-font;
    }
  }

  @include vp-1023 {
    min-height: 360px;
    padding-bottom: 30px;
  }

  @include vp-767 {
    padding: 30px 25px 36px 25px;
    min-height: 340px;
  }

  &--short {
    @include vp-767 {
      min-height: 325px;

      h3 {
        margin-top: 17px;
      }

      p {
        margin-top: 15px;
      }
    }
  }

  svg {
    display: block;
    fill: $color-light-blue;
    width: 35px;
    height: 35px;

    @include vp-767 {
      width: 30px;
      height: 30px;
    }
  }

  h3 {
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: $color-light-blue;
    margin: 0;
    margin-top: 20px;

    @include vp-1023 {
      margin-top: 15px;
    }

    @include vp-767 {
      font-size: 20px;
    }
  }

  p {
    color: $color-extra-dark;
    margin: 0;
    margin-top: 14px;
    line-height: 135%;

    @include vp-1023 {
      margin-top: 9px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 135%;
      box-sizing: content-box;
    }
  }
}
