.button {
  display: block;
  padding: 12px;
  background-color: transparent;
  font-family: $ff-mono;
  cursor: pointer;
  text-align: center;
  user-select: none;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;

  &:disabled {
    opacity: 0.2;
    cursor: auto;

    &:hover {
      opacity: 0.2;
    }
  }

  @media (min-width: $vp-768) {
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
