.form {
  h2 {
    margin: 0;
    font-family: $ff-roboto;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $color-default-white;

    @include vp-767 {
      font-size: 30px;
      line-height: 140%;
    }
  }

  p {
    margin: 0;
    color: $color-default-white;

    @include vp-767 {
      font-size: 14px;
      line-height: 134%;
    }
  }

  button {
    background-color: $color-extra-dark;
    color: $color-default-white;
    padding: 15px 25px 11px 25px;
    font-family: $ff-roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    flex-shrink: 0;
  }
}

.form__item {
  input,
  textarea {
    display: block;
    border: none;
    background-color: $color-light-grey-tranparent-15;
    border-radius: 3px;
    margin: 0;
    font-family: $ff-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;

    &::placeholder {
      font-family: $ff-mono;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $color-default-white;
    }

    &:hover {
      background-color: $color-light-grey-tranparent-40;
    }

    &:focus {
      background-color: $color-light-grey-tranparent-25;
      outline-color: $color-default-white;
    }
  }

  &--phone,
  &--name {
    input {
      padding: 15px;
      width: 100%;
    }
  }

  &--text {
    textarea {
      width: 100%;
      padding: 23px 15px;

      @include vp-1023 {
        padding-top: 29px;
      }
    }
  }
}

.form__checkbox {
  label {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
    opacity: 0.8;
    position: relative;
    width: 235px;
    padding-left: 26px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      box-sizing: border-box;
      border: 1px solid $color-default-white;
      border-radius: 2px;
      left: 0;
      top: 9px;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  input:checked + label::before {
    background-image: url("../img/svg/checkbox-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 9px 6px;
  }

  input:focus-visible + label::before {
    outline: solid;
  }
}
