.page-header {
  width: 100%;
  min-width: 320px;
  background-image: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;
}

.page-header__wrapper {
  width: $desktop-content;
  min-height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  @include vp-1279 {
    width: auto;
    margin: 0 $desktop-margin-asade;
  }

  @include vp-1023 {
    margin: 0 $tablet-margin-asade;
    min-height: 100px;
  }

  @include vp-767 {
    min-height: 70px;
    padding: 10px 0;
    margin: 0 $mobile-margin-asade;
  }
}

.page-header__logo {
  img {
    display: block;
    width: 215px;
    height: 55px;

    @include vp-767 {
      width: 35px;
      height: 35px;
    }
  }
}

.page-header__contacts {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  svg {
    display: block;
    width: 20px;
    height: 20px;
  }

  li {
    margin-left: 100px;

    @include vp-1023 {
      margin-left: 40px;
    }

    &:first-of-type {
      margin-left: 0;
    }

    p {
      margin: 0;
      margin-left: 10px;
      font-family: $ff-mono;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: $color-light-font;

      @include vp-1023 {
        display: none;
      }
    }
  }

  a {
    display: flex;
  }
}

.page-header__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-light-font;
  padding: 10px 15px;
  border: 2px solid $color-light-font;
  box-sizing: border-box;
  border-radius: 3px;

  @include vp-1023 {
    display: none;
  }
}
